<h1>Pages#generator</h1>
<form action="<%= pages_save_page_path %>" method="GET">
 <input type="text" name="title">
 <input type="text" name="h1">
 <textarea name="content" rows="8 cols="80"></textarea>
 <input type="submit">
</form>